/* Reset global */
@import "./Global/global.css";

/* Header */
@import "./Header/header.css";

/* Menu */
@import "./Menu/menu.css";

/* Container */
@import "./Container/container.css";

/* Introdução */
@import "./Introducao/introducao.css";

/* Produtos */
@import "./Produtos/produtos.css";
