.planos {
  background-color: #f7f7f7;
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.planos-item {
  flex: 1;
  border: 4px solid #e1e1e1;
  padding: 20px;
  margin: 10px;
}

.planos-item h2 {
  font-size: 3rem;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.planos-item span {
  display: block;
  padding: 10px 0 5px 0;
  font-size: 3rem;
  font-weight: bold;
  max-width: 300px;
  margin: 20px auto;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.planos-item sup {
  font-size: 1.5rem;
}

.planos-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25rem;
  font-style: italic;
  color: #7c7;
}

.planos-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.planos-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;
}

.planos-item a {
  display: block;
  max-width: 300px;
  margin: 20px auto;
  border: 4px solid #222222;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.25rem;
  padding: 15px 0;
  text-align: center;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .planos {
    padding-left: 20px;
    padding-right: 20px;
  }
}
