.header-bg nav {
  background-color: #2c70ff;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 10px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.nav-flex a {
  color: white;
}

.nav-flex ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-menu a {
  font-size: 1.25rem;
  display: block;
  padding: 10px;
}

.nav-menu a:hover {
  background-color: #122ab2;
  border-radius: 5px;
}
