.vantagens {
  padding: 60px 10px;
}

.vantagens p {
  margin: 0;
}

.vantagens ul {
  display: flex;
  flex-wrap: wrap;
}

.vantagens li {
  flex: 1 1 30%;
  margin: 20px 10px;
}

.vantagens h2 {
  font-size: 2.25rem;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.vantagens h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  background-color: #a4a4a4;
  margin-right: 10px;
  background-color: blue;
}

.vantagens li:nth-of-type(3n + 1) h2::before {
  background-color: #ae81ff;
}

.vantagens li:nth-of-type(3n + 2) h2::before {
  background-color: #f9265e;
}

.vantagens li:nth-of-type(3n + 3) h2::before {
  background-color: #66d9eb;
}

.vantagens p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #7c7c7c;
}
